# Node modules
node_modules

# Docker-related files
.dockerignore
docker-compose*.yaml

# Git-related files
.git
.gitignore

# IDE and editor files
.idea
.vscode

# Logs and temporary files
*.log
*.tmp

# Build output
dist
build

# Environment files
.env
.env.local
